In [1]:
import pandas as pd

from datetime import datetime

# Data Preparation

## 1. Обработка df_sessions

In [2]:
df_sessions = pd.read_csv('/home/slawilja/PycharmProjects/final_work/data/main_data/ga_sessions.csv')
print(df_sessions.shape)
df_sessions.head()

/tmp/ipykernel_7191/3108675389.py:1: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  df_sessions = pd.read_csv('/home/slawilja/PycharmProjects/final_work/data/main_data/ga_sessions.csv')

(1860042, 18)

,session_id,client_id,visit_date,visit_time,visit_number,utm_source,utm_medium,utm_campaign,utm_adcontent,utm_keyword,device_category,device_os,device_brand,device_model,device_screen_resolution,device_browser,geo_country,geo_city
0,9055434745589932991.1637753792.1637753792,2108382700.163776,2021-11-24,14:36:32,1,ZpYIoDJMcFzVoPFsHGJL,banner,LEoPHuyFvzoNfnzGgfcd,vCIpmpaGBnIQhyYNkXqp,puhZPIYqKXeFPaUviSjo,mobile,Android,Huawei,NaN,360x720,Chrome,Russia,Zlatoust
1,905544597018549464.1636867290.1636867290,210838531.163687,2021-11-14,08:21:30,1,MvfHsxITijuriZxsqZqt,cpm,FTjNLDyTrXaWYgZymFkV,xhoenQgDQsgfEPYNPwKO,IGUCNvHlhfHpROGclCit,mobile,Android,Samsung,NaN,385x854,Samsung Internet,Russia,Moscow
2,9055446045651783499.1640648526.1640648526,2108385331.164065,2021-12-28,02:42:06,1,ZpYIoDJMcFzVoPFsHGJL,banner,LEoPHuyFvzoNfnzGgfcd,vCIpmpaGBnIQhyYNkXqp,puhZPIYqKXeFPaUviSjo,mobile,Android,Huawei,NaN,360x720,Chrome,Russia,Krasnoyarsk
3,9055447046360770272.1622255328.1622255328,2108385564.162225,2021-05-29,05:00:00,1,kjsLglQLzykiRbcDiGcD,cpc,NaN,NOBKLgtuvqYWkXQHeYWM,NaN,mobile,NaN,Xiaomi,NaN,393x786,Chrome,Russia,Moscow
4,9055447046360770272.1622255345.1622255345,2108385564.162225,2021-05-29,05:00:00,2,kjsLglQLzykiRbcDiGcD,cpc,NaN,NaN,NaN,mobile,NaN,Xiaomi,NaN,393x786,Chrome,Russia,Moscow

### 1.1 Исследование на пропуски

#### 1.1.1 Начало исследования

In [3]:
def missing_values(df): 
    missing_values = ((df.isna().sum() / len(df) * 100)).sort_values(ascending=False)
    return missing_values

In [4]:
miss_values = missing_values(df_sessions)
miss_values

device_model                99.121633
utm_keyword                 58.174009
device_os                   57.533002
device_brand                19.740307
utm_adcontent               18.043410
utm_campaign                11.806346
utm_source                   0.005215
geo_country                  0.000000
device_browser               0.000000
device_screen_resolution     0.000000
session_id                   0.000000
device_category              0.000000
client_id                    0.000000
utm_medium                   0.000000
visit_number                 0.000000
visit_time                   0.000000
visit_date                   0.000000
geo_city                     0.000000
dtype: float64

#### 1.1.2 Удаление признаков с пропусками > 20%

In [5]:
columns_for_drop = miss_values[miss_values > 20].index.to_list()
columns_for_drop

['device_model', 'utm_keyword', 'device_os']

In [6]:
df_clean_sess = df_sessions.copy()

In [7]:
df_clean_sess = df_clean_sess.drop(columns = columns_for_drop)
df_clean_sess.shape

(1860042, 15)

In [8]:
def print_useful_rows_info(df):
    print('Количество полностью заполненных объектов из всей выборки:', len(df.dropna()))
    print('Процент полностью заполненных объектов из всей выборки:', round(len(df.dropna())/len(df)*100, 2))

In [9]:
print_useful_rows_info(df_clean_sess)

Количество полностью заполненных объектов из всей выборки: 1230859
Процент полностью заполненных объектов из всей выборки: 66.17

In [10]:
mis_val_clean = missing_values(df_clean_sess)
mis_val_clean

device_brand                19.740307
utm_adcontent               18.043410
utm_campaign                11.806346
utm_source                   0.005215
session_id                   0.000000
client_id                    0.000000
visit_date                   0.000000
visit_time                   0.000000
visit_number                 0.000000
utm_medium                   0.000000
device_category              0.000000
device_screen_resolution     0.000000
device_browser               0.000000
geo_country                  0.000000
geo_city                     0.000000
dtype: float64

In [11]:
mis_val_clean_col = mis_val_clean[mis_val_clean.values > 0].index.tolist()
mis_val_clean_col

['device_brand', 'utm_adcontent', 'utm_campaign', 'utm_source']

#### 1.1.3 Обработка пропусков признака utm_source

In [12]:
print(df_clean_sess[df_clean_sess.utm_source.isna()].shape)
df_clean_sess[df_clean_sess.utm_source.isna()]

(97, 15)

,session_id,client_id,visit_date,visit_time,visit_number,utm_source,utm_medium,utm_campaign,utm_adcontent,device_category,device_brand,device_screen_resolution,device_browser,geo_country,geo_city
77652,1100240274910044288.1640728207.1640728207,256169651.163731,2021-12-29,00:50:07,2,NaN,(not set),LTuZkdKfxRGVceoWkVyg,JNHcPlZPxEMWDnRiyoBf,mobile,OnePlus,412x892,Chrome,Russia,Saint Petersburg
122841,1303431342277938317.1637250145.1637250145,303478758.1637239949,2021-11-18,18:42:25,3,NaN,Sbol_catalog,cccMlyVfjXspfaCSrMsO,JNHcPlZPxEMWDnRiyoBf,mobile,Apple,375x667,Safari,Russia,Balashikha
136220,1364914954463538089.1637595059.1637595059,317794027.16344,2021-11-22,18:30:59,8,NaN,(not set),LTuZkdKfxRGVceoWkVyg,JNHcPlZPxEMWDnRiyoBf,mobile,Xiaomi,393x851,YaBrowser,Russia,Moscow
136221,1364914954463538089.1638478637.1638478637,317794027.16344,2021-12-02,23:57:17,9,NaN,(not set),LTuZkdKfxRGVceoWkVyg,JNHcPlZPxEMWDnRiyoBf,mobile,Xiaomi,393x851,YaBrowser,Russia,Moscow
139706,1380043242326371104.1637518268.1637518268,321316356.163648,2021-11-21,21:11:08,4,NaN,(not set),LTuZkdKfxRGVceoWkVyg,JNHcPlZPxEMWDnRiyoBf,mobile,Samsung,360x740,Chrome,Russia,Izhevsk
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1629120,8025307339522195714.1638678933.1638678933,1868537473.163671,2021-12-05,07:35:33,13,NaN,(not set),LTuZkdKfxRGVceoWkVyg,JNHcPlZPxEMWDnRiyoBf,mobile,Huawei,360x780,Chrome,Russia,Sochi
1629121,8025307339522195714.1638688249.1638688249,1868537473.163671,2021-12-05,10:10:49,14,NaN,(not set),LTuZkdKfxRGVceoWkVyg,JNHcPlZPxEMWDnRiyoBf,mobile,Huawei,360x780,Chrome,Russia,Krasnodar
1629122,8025307339522195714.1638954236.1638954236,1868537473.163671,2021-12-08,12:03:56,15,NaN,(not set),LTuZkdKfxRGVceoWkVyg,JNHcPlZPxEMWDnRiyoBf,mobile,Huawei,360x780,Chrome,Ukraine,Pereval's'k
1732460,848873006059532776.1637459623.1637459623,197643648.16374,2021-11-21,04:53:43,2,NaN,(not set),LTuZkdKfxRGVceoWkVyg,JNHcPlZPxEMWDnRiyoBf,mobile,Xiaomi,360x800,Chrome,Russia,Novosibirsk
1772156,8663363699581084869.1636806863.1636806863,2017096546.163652,2021-11-13,15:34:23,4,NaN,(not set),LTuZkdKfxRGVceoWkVyg,JNHcPlZPxEMWDnRiyoBf,mobile,Apple,390x844,Safari,Russia,Yuzhno-Sakhalinsk

In [13]:
df_clean_sess.utm_source.fillna('other', inplace=True)

In [14]:
print(f"Количество пропущенных значений в utm_source: {df_clean_sess['utm_source'].isna().sum()}")

Количество пропущенных значений в utm_source: 0

#### 1.1.4 Обработка пропусков признака utm_campaign

In [15]:
print(df_clean_sess[df_clean_sess.utm_campaign.isna()].shape)
df_clean_sess[ df_clean_sess.utm_campaign.isna()].head()

(219603, 15)

,session_id,client_id,visit_date,visit_time,visit_number,utm_source,utm_medium,utm_campaign,utm_adcontent,device_category,device_brand,device_screen_resolution,device_browser,geo_country,geo_city
3,9055447046360770272.1622255328.1622255328,2108385564.162225,2021-05-29,05:00:00,1,kjsLglQLzykiRbcDiGcD,cpc,NaN,NOBKLgtuvqYWkXQHeYWM,mobile,Xiaomi,393x786,Chrome,Russia,Moscow
4,9055447046360770272.1622255345.1622255345,2108385564.162225,2021-05-29,05:00:00,2,kjsLglQLzykiRbcDiGcD,cpc,NaN,NaN,mobile,Xiaomi,393x786,Chrome,Russia,Moscow
14,9055469620715506713.1636559415.1636559415,2108390820.162888,2021-11-10,18:50:15,4,SzZERoLMmrEUEhDaYcyN,cpc,NaN,NaN,mobile,Samsung,412x869,Android Webview,Russia,Saint Petersburg
27,9055504865227535872.1639282176.1639282176,2108399026.163928,2021-12-12,07:09:36,1,BHcvLfOaCWvWTykYqHVe,cpc,NaN,NaN,mobile,Samsung,385x854,Chrome,Russia,Moscow
38,905553874150070422.1639028922.1639028922,210840691.163903,2021-12-09,08:48:42,2,kjsLglQLzykiRbcDiGcD,cpc,NaN,NaN,mobile,Apple,375x812,Safari,Russia,Moscow

In [16]:
df_clean_sess.utm_campaign.fillna('other', inplace=True)

In [17]:
print(f"Количество пропущенных значений в utm_source: {df_clean_sess['utm_campaign'].isna().sum()}")

Количество пропущенных значений в utm_source: 0

#### 1.1.5 Обработка пропусков признака utm_adcontent

In [18]:
print(df_clean_sess[df_clean_sess.utm_adcontent.isna()].shape)
df_clean_sess[ df_clean_sess.utm_adcontent.isna()].head()

(335615, 15)

,session_id,client_id,visit_date,visit_time,visit_number,utm_source,utm_medium,utm_campaign,utm_adcontent,device_category,device_brand,device_screen_resolution,device_browser,geo_country,geo_city
4,9055447046360770272.1622255345.1622255345,2108385564.162225,2021-05-29,05:00:00,2,kjsLglQLzykiRbcDiGcD,cpc,other,NaN,mobile,Xiaomi,393x786,Chrome,Russia,Moscow
14,9055469620715506713.1636559415.1636559415,2108390820.162888,2021-11-10,18:50:15,4,SzZERoLMmrEUEhDaYcyN,cpc,other,NaN,mobile,Samsung,412x869,Android Webview,Russia,Saint Petersburg
27,9055504865227535872.1639282176.1639282176,2108399026.163928,2021-12-12,07:09:36,1,BHcvLfOaCWvWTykYqHVe,cpc,other,NaN,mobile,Samsung,385x854,Chrome,Russia,Moscow
37,905553874150070422.1639028885.1639028885,210840691.163903,2021-12-09,08:48:05,1,kjsLglQLzykiRbcDiGcD,cpc,LwJZxKuWmvOhPsaCeRjG,NaN,mobile,Apple,375x812,Safari,Russia,Moscow
38,905553874150070422.1639028922.1639028922,210840691.163903,2021-12-09,08:48:42,2,kjsLglQLzykiRbcDiGcD,cpc,other,NaN,mobile,Apple,375x812,Safari,Russia,Moscow

In [19]:
df_clean_sess.utm_adcontent.fillna('other', inplace=True)

In [20]:
print(f"Количество пропущенных значений в utm_adcontent: {df_clean_sess['utm_adcontent'].isna().sum()}")

Количество пропущенных значений в utm_adcontent: 0

#### 1.1.6 Обработка пропусков признака device_brand

In [21]:
print(df_clean_sess[df_clean_sess.device_brand.isna()].shape)
df_clean_sess[ df_clean_sess.device_brand.isna()].head()

(367178, 15)

,session_id,client_id,visit_date,visit_time,visit_number,utm_source,utm_medium,utm_campaign,utm_adcontent,device_category,device_brand,device_screen_resolution,device_browser,geo_country,geo_city
28,9055505230298952295.1638478433.1638478433,2108399111.163848,2021-12-02,23:53:53,1,fDLlAcSmythWSCVMvqvL,(none),LTuZkdKfxRGVceoWkVyg,JNHcPlZPxEMWDnRiyoBf,desktop,NaN,1536x864,Chrome,Russia,Balashikha
63,9055657327967035032.1629707931.1629707931,2108434524.162971,2021-08-23,11:00:00,1,nSReTmyFtbSjlPrTKoaX,banner,BVKxkCOHKUOvkpbrLMgZ,JNHcPlZPxEMWDnRiyoBf,desktop,NaN,1920x1080,YaBrowser,Russia,Moscow
64,905565977351442956.1622561294.1622561294,210843509.162256,2021-06-01,18:00:00,1,fDLlAcSmythWSCVMvqvL,(none),LTuZkdKfxRGVceoWkVyg,JNHcPlZPxEMWDnRiyoBf,desktop,NaN,1920x1080,Chrome,Russia,Moscow
67,9055678214400253418.1636965866.1636965866,2108439387.163696,2021-11-15,11:44:26,1,fDLlAcSmythWSCVMvqvL,(none),LTuZkdKfxRGVceoWkVyg,JNHcPlZPxEMWDnRiyoBf,desktop,NaN,1920x1080,Chrome,Russia,Saint Petersburg
73,9055788191321875859.1626006934.1626006934,2108464993.162601,2021-07-11,15:00:00,1,fDLlAcSmythWSCVMvqvL,(none),LTuZkdKfxRGVceoWkVyg,JNHcPlZPxEMWDnRiyoBf,desktop,NaN,1280x720,Chrome,Russia,Moscow

In [22]:
df_clean_sess.device_brand.fillna('other', inplace=True)

In [23]:
print(f"Количество пропущенных значений в device_brand: {df_clean_sess['device_brand'].isna().sum()}")

Количество пропущенных значений в device_brand: 0

#### 1.1.7 Итог

In [24]:
missing_values(df_clean_sess)

session_id                  0.0
client_id                   0.0
visit_date                  0.0
visit_time                  0.0
visit_number                0.0
utm_source                  0.0
utm_medium                  0.0
utm_campaign                0.0
utm_adcontent               0.0
device_category             0.0
device_brand                0.0
device_screen_resolution    0.0
device_browser              0.0
geo_country                 0.0
geo_city                    0.0
dtype: float64

In [25]:
print_useful_rows_info(df_clean_sess)

Количество полностью заполненных объектов из всей выборки: 1860042
Процент полностью заполненных объектов из всей выборки: 100.0

In [26]:
df_clean_sess.shape

(1860042, 15)

### 1.2 Поиск неинформативных признаков

In [27]:
uniq_col = []
for i in df_clean_sess.columns:
    print(f'Количество уникальных значений признака {i}: {df_clean_sess[i].nunique()}')
    if df_clean_sess[i].nunique() == 1:
        uniq_col.append(i)

print(f'\nКолонки с единственным значением: {uniq_col}')

Количество уникальных значений признака session_id: 1860042
Количество уникальных значений признака client_id: 1391717
Количество уникальных значений признака visit_date: 226
Количество уникальных значений признака visit_time: 85318
Количество уникальных значений признака visit_number: 537
Количество уникальных значений признака utm_source: 294
Количество уникальных значений признака utm_medium: 56
Количество уникальных значений признака utm_campaign: 413
Количество уникальных значений признака utm_adcontent: 287
Количество уникальных значений признака device_category: 3
Количество уникальных значений признака device_brand: 206
Количество уникальных значений признака device_screen_resolution: 5039
Количество уникальных значений признака device_browser: 57
Количество уникальных значений признака geo_country: 166
Количество уникальных значений признака geo_city: 2548

Колонки с единственным значением: []

In [28]:
if len(uniq_col) == 0:
    print('В датасете нет неинформативных признаков.')
else:
    df_clean_sess = df_clean_sess.drop(columns = uniq_col)

В датасете нет неинформативных признаков.

In [29]:
df_clean_sess.shape

(1860042, 15)

### 1.3 Приведение типов

In [30]:
df_types_sess = df_clean_sess.copy()

In [31]:
df_types_sess.dtypes

session_id                  object
client_id                   object
visit_date                  object
visit_time                  object
visit_number                 int64
utm_source                  object
utm_medium                  object
utm_campaign                object
utm_adcontent               object
device_category             object
device_brand                object
device_screen_resolution    object
device_browser              object
geo_country                 object
geo_city                    object
dtype: object

In [32]:
df_types_sess.head()

,session_id,client_id,visit_date,visit_time,visit_number,utm_source,utm_medium,utm_campaign,utm_adcontent,device_category,device_brand,device_screen_resolution,device_browser,geo_country,geo_city
0,9055434745589932991.1637753792.1637753792,2108382700.163776,2021-11-24,14:36:32,1,ZpYIoDJMcFzVoPFsHGJL,banner,LEoPHuyFvzoNfnzGgfcd,vCIpmpaGBnIQhyYNkXqp,mobile,Huawei,360x720,Chrome,Russia,Zlatoust
1,905544597018549464.1636867290.1636867290,210838531.163687,2021-11-14,08:21:30,1,MvfHsxITijuriZxsqZqt,cpm,FTjNLDyTrXaWYgZymFkV,xhoenQgDQsgfEPYNPwKO,mobile,Samsung,385x854,Samsung Internet,Russia,Moscow
2,9055446045651783499.1640648526.1640648526,2108385331.164065,2021-12-28,02:42:06,1,ZpYIoDJMcFzVoPFsHGJL,banner,LEoPHuyFvzoNfnzGgfcd,vCIpmpaGBnIQhyYNkXqp,mobile,Huawei,360x720,Chrome,Russia,Krasnoyarsk
3,9055447046360770272.1622255328.1622255328,2108385564.162225,2021-05-29,05:00:00,1,kjsLglQLzykiRbcDiGcD,cpc,other,NOBKLgtuvqYWkXQHeYWM,mobile,Xiaomi,393x786,Chrome,Russia,Moscow
4,9055447046360770272.1622255345.1622255345,2108385564.162225,2021-05-29,05:00:00,2,kjsLglQLzykiRbcDiGcD,cpc,other,other,mobile,Xiaomi,393x786,Chrome,Russia,Moscow

In [33]:
df_types_sess['visit_number'] = df_types_sess['visit_number'].astype('int64')

In [34]:
df_types_sess.visit_date = pd.to_datetime(df_types_sess.visit_date)

In [35]:
df_types_sess.visit_time = df_types_sess.visit_time.apply(lambda x: datetime.strptime(x, '%H:%M:%S').time())

In [36]:
obj_types = df_types_sess.dtypes[df_types_sess.dtypes == 'object'].index.to_list()
obj_types

['session_id',
 'client_id',
 'visit_time',
 'utm_source',
 'utm_medium',
 'utm_campaign',
 'utm_adcontent',
 'device_category',
 'device_brand',
 'device_screen_resolution',
 'device_browser',
 'geo_country',
 'geo_city']

In [37]:
df_types_sess[obj_types] = df_types_sess[obj_types].astype('str')

In [38]:
df_types_sess.dtypes

session_id                          object
client_id                           object
visit_date                  datetime64[ns]
visit_time                          object
visit_number                         int64
utm_source                          object
utm_medium                          object
utm_campaign                        object
utm_adcontent                       object
device_category                     object
device_brand                        object
device_screen_resolution            object
device_browser                      object
geo_country                         object
geo_city                            object
dtype: object

### 1.4 Исследование на дубликаты

In [39]:
print(f'Количество дубликатов в датасете: {df_sessions.duplicated().sum()}')

Количество дубликатов в датасете: 0

### 1.5 Сохранение в csv

In [40]:
df_types_sess.to_csv('/home/slawilja/PycharmProjects/final_work/data/prep_data/ga_sessions_prep.csv', index=False)

## 2. Обработка df_hits

In [41]:
df_hits = pd.read_csv('/home/slawilja/PycharmProjects/final_work/data/main_data/ga_hits.csv')
print(df_hits.shape)
df_hits.head()

(15726470, 11)

,session_id,hit_date,hit_time,hit_number,hit_type,hit_referer,hit_page_path,event_category,event_action,event_label,event_value
0,5639623078712724064.1640254056.1640254056,2021-12-23,597864.0,30,event,NaN,sberauto.com/cars?utm_source_initial=google&ut...,quiz,quiz_show,NaN,NaN
1,7750352294969115059.1640271109.1640271109,2021-12-23,597331.0,41,event,NaN,sberauto.com/cars/fiat?city=1&city=18&rental_c...,quiz,quiz_show,NaN,NaN
2,885342191847998240.1640235807.1640235807,2021-12-23,796252.0,49,event,NaN,sberauto.com/cars/all/volkswagen/polo/e994838f...,quiz,quiz_show,NaN,NaN
3,142526202120934167.1640211014.1640211014,2021-12-23,934292.0,46,event,NaN,sberauto.com/cars?utm_source_initial=yandex&ut...,quiz,quiz_show,NaN,NaN
4,3450086108837475701.1640265078.1640265078,2021-12-23,768741.0,79,event,NaN,sberauto.com/cars/all/mercedes-benz/cla-klasse...,quiz,quiz_show,NaN,NaN

### 2.1 Исследование на пропуски

#### 2.1.1 Начало исследования

In [42]:
miss_values = missing_values(df_hits)
miss_values

event_value       100.000000
hit_time           58.247795
hit_referer        39.899634
event_label        23.909905
session_id          0.000000
hit_date            0.000000
hit_number          0.000000
hit_type            0.000000
hit_page_path       0.000000
event_category      0.000000
event_action        0.000000
dtype: float64

#### 2.1.2 Удаление признаков с пропусками > 20%

In [43]:
columns_for_drop = miss_values[miss_values > 20].index.to_list()
columns_for_drop

['event_value', 'hit_time', 'hit_referer', 'event_label']

In [44]:
df_clean_hits = df_hits.copy()

In [45]:
df_clean_hits = df_clean_hits.drop(columns = columns_for_drop)
df_clean_hits.shape

(15726470, 7)

#### 2.1.3 Итог

In [46]:
print_useful_rows_info(df_clean_hits)

Количество полностью заполненных объектов из всей выборки: 15726470
Процент полностью заполненных объектов из всей выборки: 100.0

In [47]:
mis_val_clean = missing_values(df_clean_hits)
mis_val_clean

session_id        0.0
hit_date          0.0
hit_number        0.0
hit_type          0.0
hit_page_path     0.0
event_category    0.0
event_action      0.0
dtype: float64

### 2.2 Поиск неинформативных признаков

In [48]:
uniq_col = []
for i in df_clean_hits.columns:
    print(f'Количество уникальных значений признака {i}: {df_clean_hits[i].nunique()}')
    if df_clean_hits[i].nunique() == 1:
        uniq_col.append(i)

print(f'\nКолонки с единственным значением: {uniq_col}')

Количество уникальных значений признака session_id: 1734610
Количество уникальных значений признака hit_date: 226
Количество уникальных значений признака hit_number: 500
Количество уникальных значений признака hit_type: 1
Количество уникальных значений признака hit_page_path: 342715
Количество уникальных значений признака event_category: 52
Количество уникальных значений признака event_action: 230

Колонки с единственным значением: ['hit_type']

In [49]:
if len(uniq_col) == 0:
    print('В датасете нет неинформативных признаков.')
else:
    print(f'Удаляем колонки {uniq_col}')
    df_clean_hits = df_clean_hits.drop(columns = uniq_col)

Удаляем колонки ['hit_type']

In [50]:
df_clean_hits.shape

(15726470, 6)

### 2.3 Приведение типов

In [51]:
df_types_hits = df_clean_hits.copy()

In [52]:
df_types_hits.dtypes

session_id        object
hit_date          object
hit_number         int64
hit_page_path     object
event_category    object
event_action      object
dtype: object

In [53]:
df_types_hits.head()

,session_id,hit_date,hit_number,hit_page_path,event_category,event_action
0,5639623078712724064.1640254056.1640254056,2021-12-23,30,sberauto.com/cars?utm_source_initial=google&ut...,quiz,quiz_show
1,7750352294969115059.1640271109.1640271109,2021-12-23,41,sberauto.com/cars/fiat?city=1&city=18&rental_c...,quiz,quiz_show
2,885342191847998240.1640235807.1640235807,2021-12-23,49,sberauto.com/cars/all/volkswagen/polo/e994838f...,quiz,quiz_show
3,142526202120934167.1640211014.1640211014,2021-12-23,46,sberauto.com/cars?utm_source_initial=yandex&ut...,quiz,quiz_show
4,3450086108837475701.1640265078.1640265078,2021-12-23,79,sberauto.com/cars/all/mercedes-benz/cla-klasse...,quiz,quiz_show

In [54]:
df_types_hits['hit_number'] = df_types_hits['hit_number'].astype('int64')

In [55]:
df_types_hits.hit_date = pd.to_datetime(df_types_hits.hit_date)

In [56]:
obj_types = df_types_hits.dtypes[df_types_hits.dtypes == 'object'].index.to_list()
obj_types

['session_id', 'hit_page_path', 'event_category', 'event_action']

In [57]:
df_types_hits[obj_types] = df_types_hits[obj_types].astype('str')

In [58]:
df_types_hits.dtypes

session_id                object
hit_date          datetime64[ns]
hit_number                 int64
hit_page_path             object
event_category            object
event_action              object
dtype: object

### 2.4 Исследование на дубликаты

In [59]:
print(f'Количество дубликатов в датасете: {df_types_hits.duplicated().sum()}')

Количество дубликатов в датасете: 225862

In [60]:
print(df_types_hits.shape)
df_types_hits = df_types_hits.drop_duplicates()
print(df_types_hits.shape)

(15726470, 6)
(15500608, 6)

Сохранение в csv

In [61]:
df_types_hits.to_csv('/home/slawilja/PycharmProjects/final_work/data/prep_data/ga_hits_prep.csv', index=False)